{% load static %}
<!DOCTYPE html>
<html>
	<head>
		{%include "./head.html"%}
	</head>
	<body>
		{%include "./navbar.html"%}
		<div class="sm:p-4 mt-16 pt-3">
			<div class="grid grid-flow-cols grid-cols-1 md:grid-cols-4 gap-4">
				{%for d in blog%}
				<div class="col s12 m3">
					<div class="card bordered">
						<figure>
							<img src="{{d.thumbnail.url}}">
						</figure>
						<div class="card-body">
							<h2 class="card-title">{{ d.name }}
							<div class="badge mx-2 badge-secondary">NEW</div>
							</h2>
							<p>{{d.description}}</p>
							<div class="justify-end card-actions">
								<a href="{% url 'show-blog' d.id%}" class="btn btn-secondary">More info</a>
							</div>
						</div>
					</div>
				</div>
				{%endfor%}
			</div>
		</div>
		<script>
			$(document).ready(function(){
				$('.dropdown-trigger').dropdown({});
			});
		</script>
	</body>
</html>