<div class="navbar mb-2 shadow-lg bg-neutral text-neutral-content fixed left-0 top-0 w-full z-20">
	<div class="flex-none hidden lg:flex">
		<button class="btn btn-square btn-ghost">
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current">
		<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
	</svg>
	</button>
</div>
<div class="flex-1 hidden px-2 mx-2 lg:flex">
	<span class="text-lg font-bold">
		Blog Django
	</span>
</div>
<div class="hidden lg:flex-1 lg:flex-none">
	<div class="form-control">
		<input type="text" placeholder="Search" class="input input-ghost">
	</div>
</div>
<div class="flex-none">
	<button class="btn btn-square btn-ghost">
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
		</svg>
	</button>
</div>
<div class="flex-none">
	<button class="btn btn-square btn-ghost">
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"></path>
		</svg>
	</button>
</div>
<div class="flex-none">
	<div class="dropdown dropdown-end">
		<div tabindex="0" class="m-1 btn">{{user.username}}</div>
		<ul tabindex="0" class="p-2 shadow menu dropdown-content bg-base-100 rounded-box w-52">
			<li>
				<a>Profile</a>
			</li>
			<li>
				<a>Setting</a>
			</li>
			<li>
				<a href="{%url 'signout'%}">Logout</a>
			</li>
		</ul>
		</div>
	</div>
</div>
<!-- <ul id="dropdown_1" class="dropdown-content">
	<li><a href="/">Profile</a></li>
	<li><a href="/">Setting</a></li>
	<li class="divider"></li>
	<li><a href="{%url 'signout'%}">Logout</a></li>
</ul>
<ul id="dropdown_category" class="dropdown-content">
	{%for d in category%}
	<li><a href="/">{{d.name}}</a></li>
	{%endfor%}
</ul>
<div class="navbar-fixed">
	<nav class="teal accent-4">
		<div class="nav-wrapper">
			<a href="/" class="brand-logo">Blog Django</a>
			<ul class="right">
								<li><a href="/">Home</a></li>
								<li><a class="dropdown-trigger" href="/" data-target="dropdown_category">Category<i class="material-icons right">arrow_drop_down</i></a></li>
								<li><a class="dropdown-trigger" href="/" data-target="dropdown_1">{{user.username}}<i class="material-icons right">arrow_drop_down</i></a></li>
			</ul>
		</div>
	</nav>
</div> -->