{% load static %}
<!DOCTYPE html>
<html>
	<head>
		{%include "./head.html"%}
	</head>
	<body>
		{%include './navbar.html'%}
		<div class="sm:p-4 mt-16 pt-3">
			<div class="tabs tabs-boxed rounded-none">
				<a data-target="#content" class="tab flex-1 tab-lg tab-active">Content</a>
				<a data-target="#comment" class="tab flex-1 tab-lg">Comment</a>
				<a data-target="#about" class="tab flex-1 tab-lg">About User</a>
			</div>
			<div class="bg-neutral">
				
			<div class="tabs-body p-4" id="content">
				<p>{{blog.created}}</p>
				<img class="responsive-img" src="{{blog.thumbnail.url}}">
				<p>{{blog.description}}</p>
			</div>
			<div class="tabs-body p-4 hidden" id="comment">
				<div class="input-field col s6">
					<form method="post" action="{%url 'addcomment' blog.id%}">
						{% csrf_token %}
						<div class="form-control">
						  <textarea name="comment" class="textarea h-24 textarea-bordered textarea-primary" placeholder="Required *"></textarea>
						</div>
						<button class="btn btn-primary my-2">Submit</button>
					</form>
				</div>
				<ul class="menu py-3 shadow-lg bg-base-100 rounded-box">
					{%for d in comment%}
					<li class="menu-title p-2">
							<p>{{d.user.username}}, {{d.created}}</p>
							<p>{{d.comment}}</p>
					</li>
					{%endfor%}
				</ul>
			</div>
			<div class="tabs-body p-4 hidden" id="about">
				{{blog.user.username}}
			</div>
			</div>
		</div>
		<script>
			$(document).ready(function(){
				function tabs(){
					let tab = $('.tab'), tabs = $('.tabs-body')
					tab.on('click', e => {
						$('.tab-active').removeClass('tab-active')
						e.target.classList.add('tab-active')
						tabs.addClass('hidden')
						$(e.target.dataset.target).removeClass('hidden')
					})
				}
				tabs()
			});
		</script>
	</body>
</html>